#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";


input_processors {
    /* Vertical-only scroll mapper:
     * Map both X and Y relative movements to vertical wheel (WHEEL).
     * This disables horizontal wheel events entirely in scroll mode.
     */
    zip_xy_to_vscroll_mapper: zip_xy_to_vscroll_mapper {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        type = <INPUT_EV_REL>;
        map = <INPUT_REL_X INPUT_REL_WHEEL
               INPUT_REL_Y INPUT_REL_WHEEL>;
    };
};


        layer_0 {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3          &kp N4        &kp N5       &kp N6         &kp N7         &kp N8     &kp N9   &kp N0    &kp MINUS
&kp TAB         &kp Q   &kp W   &kp E           &kp R         &kp T        &kp Y          &kp U          &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_SHIFT  &kp A   &kp S   &kp D           &kp F         &kp G        &kp H          &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C           &kp V         &kp B        &kp N          &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &lt 1 LEFT_WIN  &lt 3 LEFT_ALT  &kp SPACE    &kp BACKSPACE  &kp RIGHT_ALT
                                                &mkp MB2      &mkp MB1     &lt 2 ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp F1             &kp F2    &kp F3    &kp F4     &kp F5    &kp F6        &kp F7     &kp F8      &kp F9  &kp F10           &kp F11            &kp F12
&kp C_VOLUME_UP    &none    &kp UP    &none      &none     &bt BT_NXT    &none      &none       &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PAGE_UP
&kp C_VOLUME_DOWN  &kp LEFT  &kp DOWN  &kp RIGHT  &none     &bt BT_CLR    &none      &none       &none   &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PAGE_DOWN
&kp LCTRL          &none     &none     &none      &none     &none         &none      &none       &none   &none             &none              &kp EQUAL
                                       &none      &none     &none         &kp LALT   &kp DELETE
                                                  &mkp MB1  &mkp MB2      &kp ENTER
            >;
        };

        layer_2 {
            bindings = <
&kp RC(ESC)  &kp RC(NUMBER_1)  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans            &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans            &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans            &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                       &trans  &trans  &trans    &trans  &trans
                                               &trans  &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                       &trans  &trans  &trans    &trans  &trans
                                               &trans  &trans    &trans
            >;
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
        };*/
    };
};


/* Trackball input processing
 * - Base (Layer 0): cursor move with mild scaling
 * - Layer 1: scroll mode (Y=vertical wheel, X=horizontal wheel)
 * - Layer 3: precision mode (slower cursor)
 */
&trackball_listener {
    /* Base cursor speed tweak (adjust these numbers if needed) */
    input-processors = <&zip_xy_scaler 3 2>;

    scroller {
        layers = <1>;
        /* X/Y -> HWHEEL/WHEEL, then scale scroll speed down a bit */
        input-processors = <&zip_x_scaler 1 1>, <&zip_y_scaler 1 16>, <&zip_xy_to_vscroll_mapper>, <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>, <&zip_scroll_scaler 1 4>;
};

    precision {
        layers = <3>;
        /* Slow down cursor while precision layer is held */
        input-processors = <&zip_xy_scaler 1 3>;
    };
};

